// @import "~font-awesome/scss/font-awesome";

.icon-black16 {
    background-image: url('./../images/favicon_black16.png');
}

.icon-black24 {
    background-image: url('./../images/favicon_black24.png');
}

.icon-black32 {
    background-image: url('./../images/favicon_black32.png');
}

.icon-black48 {
    background-image: url('./../images/favicon_black48.png');
}

.icon-black128 {
    background-image: url('./../images/favicon_black128.png');
}