.icon-black-svg {
    background-image: url('./../images/favicon_black.svg');
}

.icon-black {
    background-image: url('./../images/favicon_black.png');
}

.icon-black16 {
    background-image: url('./../images/favicon_black16.png');
}

.icon-black24 {
    background-image: url('./../images/favicon_black24.png');
}

.icon-black32 {
    background-image: url('./../images/favicon_black32.png');
}

.icon-black48 {
    background-image: url('./../images/favicon_black48.png');
}

.icon-black80 {
    background-image: url('./../images/favicon_black80.png');
}

.icon-black128 {
    background-image: url('./../images/favicon_black128.png');
}

.abt-toolbar label {
    // height: 30px;
    // color: #1C9DD8;
    // padding: 5px;
    // border-bottom: 1px solid #cfcfcf;
}

.HM .abt-toolbar {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.checkbox label,
.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
}

input[type=checkbox],
input[type=radio] {
    margin: 1px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}